
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
          <div class="container">
              <main role="main" class="pb-3">
                  @RenderBody()
              </main>
          </div>
</div>
</body>
</html>