@model List<Person>;
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">SSID</th>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">
				<a class="btn btn-success" asp-controller="People" asp-action="Create" >
					Add
				</a>
			</th>
		</tr>
	</thead>
	<tbody>
		@{
			int countedPeople = 0;
		}
		@foreach (Person person in Model)
		{
			countedPeople++;
			<tr>
				<th scope="row">@countedPeople</th>
				<td>@person.SSID</td>
				<td>@person.FirstName</td>
				<td>@person.LastName</td>
				<td>
					<a class="btn btn-primary" asp-controller="People" asp-action="Read">Show</a>
					<a class="btn btn-warning" asp-controller="People" asp-action="Update">Edit</a>
					<a class="btn btn-danger" asp-controller="People" asp-action="Delete">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>