@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">سلام</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Hello_%28yellow%29.png" class="rounded mx-auto d-block" />
</div>
